html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrapper {
    margin-top: 20px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.modal-a4 {
    width: 760px;
}

.hide-from-view {
    display: none;
}

.kv-edit-mode .hide-from-view {
    display: block;
}

section.documents {
    padding: 10px;
    background: #fafafa;
    border: 1px solid #ddd;
}

section.records {
    margin: 20px 0;
}

section.contract-list > div,
section.payment-list > div {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 15px;
    background: #fcfcfc;
    border-radius: 3px;
}

.payment-list .fa-info {
    cursor: pointer;
}

.payment-list .red {
    
}
.payment-list .red {
    color: #000;
}

p.items-total {
    padding: 10px;
}

.no-btn {
    border: none;
    background: none;
    padding: 0;
}